Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60]. 
S2 is a set defined as S2= [40, 50, 60, 70, 80, 90]. 
(i) WAP to add 55 and 66 in Set S1. 
(ii) WAP to remove 10 and 30 from Set S1. 
(iii) WAP to check whether 40 is present in S1. 
(iv) WAP to find the union between S1 and S2. 
(v) WAP to find the intersection between S1 and S2. 
(vi) WAP to find the S1 - S2.

In [ ]:
# (i) WAP to add 55 and 66 in Set S1 
S1 = {10, 20, 30 ,40 , 50, 60}
S2 = {40, 50, 60 , 70 , 80 , 90}
S1.add(55)
S1.add(66)
print(S1)

{50, 66, 20, 55, 40, 10, 60, 30}

In [ ]:
# (ii) Remove 10 and 30 from S1 
S1.remove(10)
S1.remove(30)
print(S1)

{50, 66, 20, 55, 40, 60}

In [ ]:
# (iii) Check wether 40 is present 
if 40 in S1:
    print("yes")
if 40 not in S1:
    print("no")

no

In [7]:
# (iv) Union
S3 = S1.union(S2)
print(S3)

{66, 70, 40, 80, 50, 20, 55, 90, 60}

In [8]:
# (v) Intersection 
S4 = S1.intersection(S2)
print(S4)

{40, 50, 60}

In [9]:
# (vi) S1 - S2 
S5 = S1 - S2 
print(S5)

{66, 20, 55}